<p id="notice"><%= notice %></p>

<p>
  <strong>Pagesgoal:</strong>
  <%= @read_cycle.pagesGoal %>
</p>

<%= link_to 'Edit', edit_read_cycle_path(@read_cycle) %> |
<%= link_to 'Back', read_cycles_path %>
